:root {
  --c-cod-gray: #070707;
  --c-woodsmoke: #0d1111;
  --c-java: #1ebfc1;
  --c-cloud-burst: #1f3042;
  --c-turquoise: #2ac9bf;
  --c-mine-shaft: #2e2e2e;
  --c-outer-space: #2f3a3b;
  --c-jon-tundora: #4a4244;
  --c-charcoal-tundora: #494949;
  --c-emperor: #514649;
  --c-mortar: #535353;
  --c-corduroy: #5d6564;
  --c-sirocco: #767e7e;
  --c-suva: #909090;
  --c-hit-grey: #9da6a5;
  --c-periglacial-blue: #b0b5b4;
  --c-iceberg: #def6f5;
  --c-mercury: #e5e5e5;
  --c-aqua-haze: #edf1f5;
  --c-sweet-pink: #fb9899;
  --c-white: #ffffff;
  --c-btn: var(--c-turquoise);
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-title: var(--fw-bold);
  --fw-subtitle: var(--fw-semi-bold);
  --fw-body: var(--fw-regular);
  --fw-sitemap-title: var(--fw-medium);
  --fw-btn: var(--fw-semi-bold);
}

html {
  font-family: "Poppins", serif;
}

body {
  background: var(--c-white);
  font-weight: var(--fw-body);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.content {
  width: 1170px;
  max-width: calc(100% - 270px);
  margin: auto;
}

.btn {
  color: var(--c-turquoise);
  background: transparent;
  font-weight: var(--fw-btn);
  font-size: 18px;
  line-height: 68px;
  min-width: 186px;
  text-align: center;
  padding: 0 16px;
  display: inline-block;
  border-radius: 14px;
  border: 1px solid var(--c-turquoise);
}
.btn:hover {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
  background: var(--c-btn);
  color: var(--c-white);
}

.sticky {
  position: sticky;
  top: -36px;
  z-index: 1;
}

.title {
  font-weight: var(--fw-bold);
  color: var(--c-woodsmoke);
  font-size: 42px;
}

.subtitle {
  font-weight: var(--fw-semi-bold);
  color: var(--c-woodsmoke);
}

.desc {
  font-weight: var(--fw-regular);
}
.desc--woodsmoke {
  color: var(--c-woodsmoke);
}
.desc--sirocco {
  color: var(--c-sirocco);
}
.desc--hit-grey {
  color: var(--c-hit-grey);
}

.header {
  padding: 44px 0 8px 0;
  background-color: white;
  margin-bottom: 62px;
}
.header .content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header__nav .nav {
  display: flex;
}
.header__nav .nav__link {
  padding: 8px 20px;
  font-size: 16px;
  line-height: 24px;
  color: var(--c-outer-space);
}
.header__nav .nav__link:hover {
  text-shadow: 1px 0 0 currentColor;
}
.header__actions {
  display: flex;
  gap: 0 24px;
  align-items: center;
}
.header__actions .actions__signin {
  font-weight: var(--fw-regular);
  font-size: 16px;
  color: var(--c-charcoal-tundora);
  line-height: 24px;
  padding: 0;
  min-width: 0;
  border: 0;
}
.header__actions .actions__signin:hover {
  background: transparent;
}
.header__actions .actions__signup {
  font-weight: var(--fw-semi-bold);
  font-size: 16px;
  min-width: 108px;
  border: 1px solid var(--c-turquoise);
  line-height: 48px;
}

.hero {
  margin-bottom: 209px;
}
.hero .content {
  display: flex;
  justify-content: space-between;
}
.hero__image {
  width: 55%;
  height: 631px;
  position: relative;
}
.hero__image .image-wrapper {
  height: 100%;
  width: 90%;
  margin-left: auto;
}
.hero__image .image-wrapper .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.hero__image .card-1 {
  position: absolute;
  top: 149px;
  left: 25px;
  width: 157px;
  height: 75px;
  background: #fefefd;
  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 25px;
}
.hero__image .card-1:hover {
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
}
.hero__image .card-1__icon {
  width: 36px;
  height: 40px;
}
.hero__image .card-1__icon {
  display: flex;
}
.hero__image .card-1__desc {
  font-weight: var(--fw-medium);
  font-size: 10px;
  line-height: 15px;
  color: var(--c-woodsmoke);
  width: 55px;
}
.hero__image .card-2 {
  position: absolute;
  bottom: 46px;
  left: 0;
  width: 124px;
  height: 132px;
  background: #ffffff;
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px 25px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero__image .card-2:hover {
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
}
.hero__image .card-2__desc {
  font-weight: var(--fw-medium);
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */
  color: var(--c-woodsmoke);
}
.hero__image .card-2__bars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__image .card-2__bars .bar {
  width: 74px;
  height: 6px;
  background: var(--c-aqua-haze);
  border-radius: 3px;
}
.hero__image .card-2__bars .bar__1 {
  margin-bottom: 12px;
}
.hero__image .card-2__bars .bar__2 {
  margin-bottom: 10px;
}
.hero__image .card-2__bars .bar__3 {
  margin-bottom: 16px;
}
.hero__image .card-2__bars .bar__0 {
  width: 26px;
  height: 6px;
}
.hero__image .card-2__bars .bar .inner-bar {
  width: 100%;
  height: 100%;
  background: var(--c-sweet-pink);
  border-radius: 3px;
}
.hero__image .card-2__bars .bar .inner-bar__50 {
  width: 39px;
  height: 6px;
}
.hero__image .card-2__bars .bar .inner-bar__75 {
  width: 51px;
  height: 6px;
}
.hero__image .card-2__bars .bar .inner-bar__40 {
  width: 33px;
  height: 6px;
}
.hero__image .card-3 {
  position: absolute;
  bottom: 41px;
  right: 45px;
  width: 207px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 90px;
  background: #fefefd;
  box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  padding: 17px 35px;
  gap: 8px;
}
.hero__image .card-3:hover {
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
}
.hero__image .card-3__desc {
  font-weight: var(--fw-medium);
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */
  color: var(--c-woodsmoke);
}
.hero__image .card-3__users {
  display: flex;
  width: 100%;
  height: 100%;
  transform: translateX(7px);
}
.hero__image .card-3__user {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  margin-left: -7px;
}
.hero__image .card-3__user:first-child .avatar {
  -o-object-position: -14px 0px;
     object-position: -14px 0px;
}
.hero__image .card-3__user:nth-child(2) .avatar {
  -o-object-position: 0px -10px;
     object-position: 0px -10px;
}
.hero__image .card-3__user:nth-child(3) .avatar {
  -o-object-position: -2px 0px;
     object-position: -2px 0px;
}
.hero__image .card-3__user:nth-child(4) .avatar {
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}
.hero__image .card-3__user:nth-child(5) .avatar {
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}
.hero__image .card-3 .avatar {
  -o-object-fit: cover;
     object-fit: cover;
  width: 33px;
  height: 33px;
  border-radius: 100%;
}
.hero__info {
  position: relative;
  width: 39%;
  height: 576px;
  margin-top: 93px;
}
.hero__info .tagline {
  font-weight: var(--fw-regular);
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  color: var(--c-sirocco);
  margin-bottom: 18px;
}
.hero__info .title {
  font-size: 62px;
  line-height: 72px;
  margin-bottom: 46px;
}
.hero__info .desc {
  width: 374px;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  color: var(--c-hit-grey);
  margin-bottom: 52px;
}

.features {
  margin-bottom: 130px;
}
.features .content {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.features__section:first-child {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.features__section:first-child .intro-word {
  font-weight: var(--fw-bold);
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  color: var(--c-sirocco);
}
.features__section:first-child .title {
  line-height: 56px;
  width: 65%;
}
.features__section:first-child .desc {
  font-size: 18px;
  line-height: 27px;
  width: 65%;
}
.features__section:last-child {
  display: flex;
}
.features__card {
  height: 259px;
  display: flex;
  flex-direction: column;
}
.features__card--live-class {
  max-width: 168px;
  margin-right: 209px;
}
.features__card--discuss {
  max-width: 223px;
  margin-right: 200px;
}
.features__card--task {
  max-width: 224px;
}
.features__icon {
  margin-bottom: 30px;
  width: 102px;
  height: 106px;
}
.features .subtitle {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}
.features .desc {
  font-size: 16px;
  line-height: 27px;
}

.courses {
  height: 778px;
  margin-bottom: 265px;
}
.courses .content {
  display: flex;
  flex-direction: column;
  gap: 79px;
  height: 100%;
}
.courses__sections:last-child {
  height: 517px;
}
.courses .row:first-child {
  margin-bottom: 18px;
}
.courses .row:nth-child(2) {
  margin-bottom: 19px;
}
.courses .row:nth-child(2) .title {
  line-height: 63px;
}
.courses .row:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.courses .row:last-child .desc {
  max-width: 525px;
  font-size: 18px;
  line-height: 32px;
}
.courses__link {
  text-decoration: underline;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--c-java);
}
.courses .card {
  flex: 1;
  position: relative;
}
.courses .card__section:last-child {
  position: absolute;
  bottom: 0;
  left: 17px;
  width: 325px;
  height: 195px;
  padding: 18px 25px;
  background: var(--c-white);
  box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.courses .card-wrapper {
  display: flex;
  height: 100%;
  gap: 47px;
}
.courses .card__img {
  background: #d0efed;
  border-radius: 8px;
  opacity: 0.5;
  height: 393px;
}
.courses .card__img .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.courses .card .title {
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 16px;
}
.courses .card__fee {
  margin-bottom: 6px;
}
.courses .card .bold {
  font-weight: var(--fw-bold);
  font-size: 22px;
  line-height: 33px;
}
.courses .card .desc {
  margin-bottom: 18px;
}
.courses .card__duration {
  display: flex;
}
.courses .card__classes {
  font-weight: var(--fw-regular);
  font-size: 14px;
  line-height: 21px;
  color: var(--c-hit-grey);
  margin-right: 10px;
}
.courses .card__classes::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--c-java);
  margin-right: 10px;
}
.courses .card__timeframe {
  font-weight: var(--fw-regular);
  font-size: 14px;
  line-height: 21px;
  color: var(--c-hit-grey);
}
.courses .card__timeframe::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--c-java);
  margin-right: 10px;
}

.countdown {
  margin-bottom: 264px;
}
.countdown .content {
  width: 862px;
  margin: auto;
  display: flex;
  gap: 200px;
}
.countdown .column {
  display: flex;
  flex-direction: column;
}
.countdown__stat {
  font-weight: var(--fw-bold);
  font-size: 62px;
  line-height: 93px;
  /* identical to box height */
  text-align: center;
  color: var(--c-woodsmoke);
}
.countdown .desc {
  font-size: 18px;
  line-height: 27px;
}

.testimonial {
  height: 481px;
  margin-bottom: 130px;
}
.testimonial .content {
  height: 100%;
  position: relative;
}
.testimonial__icon-quote {
  margin-top: 37px;
  margin-bottom: 27px;
}
.testimonial__quote {
  font-size: 32px;
  line-height: 48px;
  /* or 150% */
  width: 419px;
  margin-bottom: 33px;
  color: var(--c-corduroy);
}
.testimonial__sitation {
  font-size: 16px;
  line-height: 24px;
  color: var(--c-sirocco);
  margin-bottom: 52px;
}
.testimonial__sitation .bold {
  font-size: 16px;
  font-weight: var(--fw-medium);
  line-height: 24px;
  color: var(--c-cod-gray);
}
.testimonial__actions {
  display: flex;
  gap: 30px;
}
.testimonial__btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--c-turquoise);
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial__avatar {
  display: flex;
  border-radius: 50%;
  position: absolute;
  background-color: var(--c-turquoise);
}
.testimonial__avatar .user {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
.testimonial__avatar--1 {
  bottom: 29px;
  right: 32px;
  width: 70px;
  height: 70px;
}
.testimonial__avatar--1 .user {
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}
.testimonial__avatar--2 {
  bottom: 0;
  right: 389px;
  width: 70px;
  height: 70px;
}
.testimonial__avatar--3 {
  top: 258px;
  right: 603px;
  width: 70px;
  height: 70px;
}
.testimonial__avatar--3 .user {
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}
.testimonial__avatar--4 {
  top: 0px;
  right: 443px;
  width: 92px;
  height: 92px;
}
.testimonial__avatar--4 .user {
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}
.testimonial__avatar--5 {
  top: 19px;
  right: 0px;
  width: 110px;
  height: 110px;
}
.testimonial__avatar--5 .user {
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}
.testimonial__avatar--6 {
  top: 107px;
  right: 171px;
  width: 235px;
  height: 235px;
}
.testimonial__avatar--6 .user {
  -o-object-position: -101px 0px;
     object-position: -101px 0px;
}

.cta {
  background-color: var(--c-iceberg);
  height: 272px;
  margin-bottom: 131px;
}
.cta .content {
  display: flex;
  gap: 410px;
  align-items: center;
  height: 100%;
}
.cta .title {
  line-height: 63px;
  color: var(--c-cod-gray);
}
.cta .desc {
  font-size: 18px;
  line-height: 27px;
}
.footer .content {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.footer__sitemap {
  display: flex;
  justify-content: space-between;
}
.footer__heading {
  font-weight: var(--fw-medium);
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  color: var(--c-mine-shaft);
  margin-bottom: 26px;
}
.footer__items {
  margin-bottom: 18px;
}
.footer__link {
  font-weight: var(--fw-regular);
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: var(--c-mortar);
  display: flex;
}
.footer__icon {
  margin-right: 9px;
}
.footer__copyright {
  align-self: center;
  margin-bottom: 50px;
}/*# sourceMappingURL=style.css.map */